{% extends 'layout.html' %}

{% block head %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block body %}
<div class="container">
	<div id="dvMain">
		<label id="lblNoOfRec"> Número de companhias: </label>
		<input type='number' min='1' id="txtNoOfRec" />
		<input type="button" value="GERAR" id="btnNoOfRec" class="button" />
	</div>
	<br />
	<form action="/" method="POST">
		<div id="AddControll" class="margin">

		</div>
	</form>
</div>
<div class="fullWidth">
	<div id="tabela" class="margin">
		<table class='table table-bordered table-hover'>
			{% if render == 1 %}
				<tr class="table_header">
					<th class='tab_d'>Ação</th>
					<th class='tab_d'>Preço</th>
					<th class='tab_d'>Quantidade</th>
					<th class='tab_d'>Total</th>
				</tr>
				{% for row in info %}
					<tr>
						{% for i in row %}
							<td class='tab_d'>{{ i }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			{% endif %}
		</table>
	</div>
</div>
<div class="fullWidth">
	<div id="chart_div" class="margin"></div>
</div>
{% endblock %}

<!--
<div class="container">
    <div id="dvMain">
        <label id="lblNoOfRec"> Enter Value For Create No Of Rows </label>
        <input type="text" id="txtNoOfRec" />
        <input type="button" value="CREATE" id="btnNoOfRec" />
    </div>
    <br />
    <div id="AddControll">

    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
-
<div class="color pad_div">
		<div class="fullWidth">
			<div id="chart_div">	
			</div>
		</div>
	</div>
->